/*
* Make the spinner rotate
*/

.spinner-container{
  position: relative;
  display: flex;
  justify-content: center;
} 

.spinner{
  font-size: 140px;
  transform-origin: center center;
  line-height: 70px;
}

.spinner::after {
  content: '◌';
  background: linear-gradient(to right, transparent 0%, transparent 54%, black 55%, black 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 10rem;
}

@keyframes spin {
  to{
    transform: rotate(360deg) ;
  }
}

#chart {
    border: 1px solid black;
}

.stock-table{
  background-color: lightblue;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
}

.stock-table th{
  padding: 1rem;
}

body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}